/ProjetSncf/nbproject/private/
/sncf_Ajax/nbproject/private/
/sncf3/nbproject/private/
/sncf/nbproject/private/
/gestiontickets/nbproject/private/
/TP_GestionTickets/nbproject/private/
/GestionDesVisiteurs/nbproject/private/